/* Root styles */
:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* General styles */
* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Button styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #747bff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Header styles */
.header {
  top: 0;
  width: 100%;
  background-color: black;
  color: rgb(52, 148, 129);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  box-sizing: border-box;
}

/* Heading styles */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.0em;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Navbar links styles */
nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex; /* Display list items horizontally */
}

nav a {
  font-weight: 500;
  color: white;
  text-decoration: none; /* no underline */
}

nav a:hover {
  color: #53f2a8;
}

/* Body styles */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.avatar {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}

/* Project styles */
.projects {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 20px; /* Add gap between header and portfolio section */
}

.project-image {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

/* Footer styles */
footer {
  width: 100%;
  background-color: black;
  padding: 10px;
  margin-top: 150px;
}

.social-links {
  display: flex;
  padding: 20px;
  gap: 30px;
  text-decoration: none; /* no underline */
}

/* Media query styles */
    /* for mobile screens */
    @media screen and (max-width: 768px), screen and (min-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.5rem;
  }

  nav ul {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
  }

  nav li {
    margin: 5px 20px;
  }

  #about {
    margin-bottom: 100px;
  }

  .project {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
  }

  .project-image {
    width: 150px;
    height: 150px;
  }

  .project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    text-decoration: none; 
  }

  #contact {
    margin-bottom: 100px;
  }

  .labels {
    font-weight: bold;
    font-size: 1rem;
  }

  .contact-btn {
    margin-top: 10px;
  }

  .social-links {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }
}

    /* for larger screens */
@media screen and (min-width: 992px) {
  .header {
    width: 100%;
    align-items: center;
  }

  .project {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
  }

  .project-image {
    width: 250px;
    height: 250px;
    margin: 15px;
  }

  .project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    text-decoration: none; 
  }
}

/* Media query for light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }


}